//****** New Footer *******

.page-footer {
    background: rgb(16, 63, 120);       

    .copyright {
        text-align: center;
        background-color: rgb(16, 63, 120);
        color: #fff;
        margin-top: 0 !important;
        padding-top: 20px;
        padding-bottom: 15px;
        height: 5rem;
    }
}